*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: sohne, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

a {
  text-decoration: none;
  color: inherit;
}
button {
  cursor: pointer;
  background: transparent;
  border: none;
}

.likebtn {
  width: 50px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #6b6b6b;

  svg {
    width: 15px;
  }

}

.favoriBtn {
  width: 50px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #6b6b6b;

  svg {
    width: 15px;
  }

}

.commentsBtn {
  width: 50px;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  gap: 4px;
  color: #6b6b6b;

  svg {
    width: 20px;
  }

}

.postBtns {
  display: flex;
  align-items: center;
  gap: 0;
}

/* Home Codes Start */

.postList {
  max-width: 728px;
  margin: 0 auto;
}

.postItem {
  border-bottom: solid 1px #F2F2F2;
  padding-block: 20px;
}


/* Home Codes End */